<!-- create template for password generator -->
<div class="wrapper">

  <h2>Password Generator</h2>
  <div>
    <label>Enter length</label>
    <input type="number" (keyup)="getLength(value.value)" #value placeholder="0" />
  </div>
  <div>
    <label>Use Letters</label>
    <input type="checkbox" (change)="getLetters()" />
  </div>
  <div>
    <label>Use Numbers</label>
    <input type="checkbox" (change)="getNumbers()" />
  </div>
  <div>
    <label>Use Symbols</label>
    <input type="checkbox" (change)="getSymbols()" />
  </div>

  <div *ngIf="(length && (includeLetters || includeNumbers || includeSymbols))">
    <button (click)="generate()">Generate</button>
  </div>

  <div *ngIf="password">
    <label>Your password is </label>
    <h3>{{password}}</h3>
  </div>
</div>